
body {
  background-color: darkgreen;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

.background {
  width: 440px;
  height: 440px;
}

#message {
  color: red
}

#apple {
  background-color: yellow;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 300px;
  top: 220px;
   
}

.snake, #snake{
  background-color: pink;
  width: 20px;
  height: 20px;
  position: absolute;

}

#snakeHead {
  background-color: pink;
  width: 20px;
  height: 20px;
  position: absolute;

}
